-----BEGIN CERTIFICATE-----
MIIDgjCCAmoCCQDhGCDRorWqnjANBgkqhkiG9w0BAQsFADCBgjELMAkGA1UEBhMC
VVMxCzAJBgNVBAgMAkZMMQ4wDAYDVQQHDAVNaWFtaTEPMA0GA1UECgwGQWVzaXJY
MQswCQYDVQQLDAJJVDEZMBcGA1UEAwwQd2ViM2lkLmFlc2lyeC5pbzEdMBsGCSqG
SIb3DQEJARYOaW5mb0BhZXNpcnguaW8wHhcNMjMwMjI0MTEzODExWhcNMjQwMjI0
MTEzODExWjCBgjELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAkZMMQ4wDAYDVQQHDAVN
aWFtaTEPMA0GA1UECgwGQWVzaXJYMQswCQYDVQQLDAJJVDEZMBcGA1UEAwwQd2Vi
M2lkLmFlc2lyeC5pbzEdMBsGCSqGSIb3DQEJARYOaW5mb0BhZXNpcnguaW8wggEi
MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCtpsSSGimszKI6J8ijt+XtA6Wg
Uhp1OiI8PACcJiwrzU8NKfOL3Cko71waySqic8Ub5rFr2/IYYeD3VUzVQaGqJ3Gd
E0Mw5ijB5HQTWfFdd/rnC0yI8K/irfVj9UAP9r9D6df4AvC2/2pKm3re9n9MhWP0
CGNmXdKtAMk+2WLCj4DVeSC/dCujKqgpkVhSPVQ1x62mtYkHngjQqn17MiKuGR2g
eu/1KFBHvTyMz580iHztianHD9MdVjeKUV6b6gL8EyNYHND26SLU+1hWJsyQPtmO
wXGYfugtAUl1+hQ+qmhzLHzOqpPwQxuLJYF0LSFavG4OYYsdahIjM2qq75QVAgMB
AAEwDQYJKoZIhvcNAQELBQADggEBAEltXfrj5vCEDNIanUyfhS5PAjKNCkkR+jOt
kmxMj/iS28LJaqUwd+qoXXGCdeqbVcWKoBzWfoSGDOHYfCwnrJCoMRJxDy/qRxgr
ZGZl8YkItwgfyKJVUW45R0uDUkfqB0GS0bb9aWY/hBhG6eRCYF/L07btAn5dKbrA
1LMzwskGSbtFVe32guzErjI80X6W9MkTenrp4ScGWGcKM5Y3BFENpC8hBtuomvTt
yh6n6LUSFPwcewEG5Y00mC3+kP3/bM655lF8eMG37WvX8eZ52ZxVn5XBmQmUNALa
nBEUBRFAq93d5FOa3f9rqzk5NoWLgCKUEoTiJoXl13knx8AZntQ=
-----END CERTIFICATE-----
